## MLOps Assignment 1

Q1. Print multiplication table from 1 to 10

In [22]:
#write here and run the cell
for i in range(10):
  print('table of ', i+ 1);

  for j in range(10):
    print(i+1, "*", j+1, "=", (i+1)*(j+1))
  print("\n")

table of  1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10


table of  2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20


table of  3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30


table of  4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40


table of  5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50


table of  6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60


table of  7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70


table of  8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80


table of  9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90


table of  10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [23]:
#write here and run the cell

l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]
l3 = []
for i in range(len(l1)):
  if i % 2 == 0:
    l3.append(l2[i])
  else:
    l3.append(l1[i])

print(l3)

[4, 6, 12, 12, 20, 18, 28]

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [24]:
#write here and run the cell
for i in range(8):
  for j in range(i):
    print("  ", end = "")
  for j in range(8 - i):
    print("* ", end = "")
  print("\n")

* * * * * * * *

  * * * * * * *

    * * * * * *

      * * * * *

        * * * *

          * * *

            * *

              *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [25]:
#write here and run the cell
def exponent(base, exp):
  if exp == 0:
    return 1
  if exp == 1:
    return base
  return base * exponent(base, exp - 1)
print(exponent(3, 3))

27

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [26]:
#write here and run the cell
# Create and write to the test.txt file
with open('test.txt', 'w') as file:
    file.write('line1\n')
    file.write('line2\n')
    file.write('line3\n')
    file.write('line4\n')
    file.write('line5\n')
    file.write('line6\n')
    file.write('line7\n')
# Read from test.txt and write to new_test.txt while skipping line 5
with open('test.txt', 'r') as infile, open('new_test.txt', 'w') as outfile:
    for i, line in enumerate(infile, start=1):
        if i != 5:  # Skip line 5
            outfile.write(line)

print("Content written to new_test.txt, skipping line 5.")

Content written to new_test.txt, skipping line 5.

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [27]:
#write here and run the cell
n = input()
name_list = n.split()
for i in name_list:
  print(i)

iit jodhpur rajasthan
iit
jodhpur
rajasthan

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [28]:
#write here and run the cell
def showEmployee( name , salary = 9000 ):
  print('Name' , name ,  'Salary :' , salary)

showEmployee("onkar")

Name onkar Salary : 9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [29]:
#write here and run the cell
import re

def find_words_with_letters_and_digits(input_string):
    words = input_string.split()

    result = []
    pattern = re.compile(r'^(?=.*[a-zA-Z])(?=.*\d)')

    for word in words:
        if pattern.search(word):
            result.append(word)

    for wrod in result:
      print(word)
    return

input_string = "abc123 hello world 1a2b3c 456 78xyz"
print("Words containing both letters and digits:")
words_with_letters_and_digits = find_words_with_letters_and_digits(input_string)

Words containing both letters and digits:
78xyz
78xyz
78xyz

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [30]:
#write here and run the cell
def replace_special_characters(input_string):

    result = ''

    for char in input_string:
        if char.isalnum() or char.isspace():
            result += char
        else:
            result += '#'

    return result


str1 = '/*Modi is @Politician & Melony!!'

output = replace_special_characters(str1)
print(output)

##Modi is #Politician # Melony##

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [31]:
#write here and run the cell

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [32]:
#write here and run the cell
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

difference_A_B = A - B
print("A - B:", difference_A_B)

difference_B_A = B - A
print("B - A:", difference_B_A)

intersection_A_B = A & B
print("A ∩ B:", intersection_A_B)

union_A_B = A | B
print("A ∪ B:", union_A_B)

A - B: {1, 2, 3}
B - A: {8, 6, 7}
A ∩ B: {4, 5}
A ∪ B: {1, 2, 3, 4, 5, 6, 7, 8}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [33]:
#write here and run the cell
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage


car = Vehicle(200, 1000)

print("Max Speed:", car.max_speed)
print("Mileage:", car.mileage)

Max Speed: 200
Mileage: 1000

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [34]:
#write here and run the cell
class Bus(Vehicle):
    def display_info(self):
        return f"Max Speed: {self.max_speed} km/h, Mileage: {self.mileage} km"
school_bus = Bus(120, 200)

print(school_bus.display_info())

Max Speed: 120 km/h, Mileage: 200 km

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [35]:
#write here and run the cell
class Vehicle:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

    def seating_capacity(self, capacity):
        return f"The seating capacity of a {self.name} is {capacity} passengers"

class Bus(Vehicle):
    def seating_capacity(self, capacity=50):
        return super().seating_capacity(capacity)

bus = Bus("Bus", 120, 25000)

print(bus.seating_capacity())
print(bus.seating_capacity(40))

The seating capacity of a Bus is 50 passengers
The seating capacity of a Bus is 40 passengers

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [36]:
#write here and run the cell
class Vehicle:
  def __init__(self, name, mileage, capacity):
    self.name = name
    self.mileage = mileage
    self.capacity = capacity

  def fare(self):
    return self.capacity * 100

# Child class
class Bus(Vehicle):
    def fare(self):
        base_fare = super().fare()
        maintenance_fee = base_fare * 0.10
        final_fare = base_fare + maintenance_fee
        return final_fare

school_bus = Bus("School Volvo", 12, 50)

print("Total Bus fare is:", school_bus.fare())

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [37]:
#write here and run the cell
import json

data = {"key1": "value1", "key2": "value2"}

json_data = json.dumps(data)

print(type(json_data))
print(type(data))

<class 'str'>
<class 'dict'>

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [38]:
#write here and run the cell
import json

sampleJson = {"id": 1, "name": "value2", "age": 29}
filename = "output.json"
with open(filename, 'w') as file:
    json.dump(sampleJson, file, indent=4 , sort_keys=True)

print(f"JSON data has been written to {filename}")

JSON data has been written to output.json